<div class="row">
    <div class="col-sm-3" style="text-align:center;">
        <img style="width:200px;height:auto;margin-bottom:10px;" src="http://longtrick.com/wp-content/uploads/2015/02/shutterstock_70728256.jpg">
        <img style="width:200px;height:auto;margin-bottom:10px;" src="http://www.aboveandroid.com/wp-content/uploads/2015/01/Android-Apps-to-Download-Free-Music-Song-MP3-Downloader1.jpg">
        <img style="width:200px;height:auto;" src="https://cdn.psychologytoday.com/sites/default/files/blogs/115725/2014/06/152322-155791.jpg">
    </div>
    <div class="col-sm-9">
      <p style="font-size:16px">WHAT I DO:</p>
      <h6 style="display:inline;">TECHNOLOGY -</h6>
      <p style="display:inline;">Audio electronics and power supplies are my specialties, but I can fix all kinds of electronic devices, including projects that require micro board level soldering. I also perform non-structural repairs on stringed instruments, both acoustic and electronic. Try my guitar setups, you'll never go back. [photo of something cool]</p>
      <br></br>
      <h6 style="display:inline;">MUSIC -</h6>
      <p style="display:inline;">My passion in life is playing the drums. I currently play drums in Aetherion (link to FB page) and Tight Hair (link), give us a listen won't you? I offer private lessons at my shop and I'm available for gigs and recording sessions. [photo of something drummy]</p>
      <br></br>
      <h6 style="display:inline;">WORDS -</h6>
      <p style="display:inline;">Perhaps you've enjoyed my website's informative yet playful tone? I can help you broaden, simplify, and stylize your written communications. I write and edit manuals, resumes, reports, and web content. I also offer business writing workshops and tutorials for individuals or groups. [photo of something writey]</p>
      <br></br>
      <p>I'd like to hear about your projects and ideas. Call (250) 634-3931, send me an email at downbeattech@gmail.com, or drop by 464 Bay St. The storefront is open 9:30 - 6:00 Monday to Friday and 10:00 - 5:00 on Saturday for pick-up and drop-off. I'm in the shop Tuesday, Thursday, Friday, and by appointment. Please call ahead if you're planning to come down, as I'm sometimes out picking up parts or delivering finished projects!</p> 
    </div>
</div>